@import "../../variable.scss";
.agency{
    background-image: url(../../images/Banner.png);
    background-size: cover;
    background-position: center;
    padding: 160px 0 130px 0;
    overflow: hidden;
    .agency-title{
        margin-top: 162px;
        @include media-query(lg){
            margin-top: 102px;
        }
        @include media-query(xs){
            margin-top: 20px;
        }
        >span{
            font-family: 'Nunito', sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 15px;
            line-height: 156.5%; 
            letter-spacing: 0.135em;
            text-transform: uppercase; 
            color: $mt-black;
            margin-bottom: 28px;
        }
        h1{
            font-family: 'Nunito', sans-serif;
            font-style: normal;
            font-weight: 800;
            font-size: 70px;
            line-height: 110.5%; 
            color: $mt-black;
            margin-bottom: 34px;
            @include media-query(lg){
                font-size: 56px;
            }
            @include media-query(xs){
                font-size: 40px;
            }
            span{
                color: $mt-blue;
            }
        }
        p{
            @include text-font;
            color: #555555;
            margin-bottom: 34px;
            max-width: 593px; 
        }
    }
    .agency-btn{
        gap: 20px;
        display: flex;
        margin-bottom: 42px;
        flex-wrap: wrap;
        a {
            padding: 17px 39px 18px;
            min-width: 182px;
            height: 64px;
            background: $mt-black;
            border: 1px solid $mt-black;
            border-radius: 7px;
            color: $mt-white ;
            font-family: 'Nunito', sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 160%;
            transition: 0.3s ease-in-out;
            @include media-query(sm){ 
               padding: 12px 32px;
               font-size: 16px;
               height: auto;
               min-width: unset;
            }
            &:hover{
                background-color: $mt-blue;
                color: #fff;
                border-color: $mt-blue;
            }
            &+a{
                background-color: transparent;
                color: $mt-black;
                &:hover{
                    background-color: $mt-black;
                    color: #fff;
                    border-color: $mt-black;
                }
            }
        }
    }
    .mt-agency-list{
        ul{
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            list-style: none;
            padding: 0;
            margin: 0;
            gap: 20px;
            max-width: 640px;
            li{
                figure{
                    width: 53px;
                    height: 53px;
                    margin-bottom: 40px;
                    @include media-query(lg){
                        width: 40px;
                        height: 40px;
                        margin-bottom: 20px;
                    }
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: scale-down;
                    }
                }
                p{
                    @include text-font;
                    text-transform: capitalize; 
                    color: $mt-dark;
                    max-width: 134px;
                    margin-bottom: 0; 
                }
            }
        }
    }
    .right-sec{
        position: relative;
        z-index: 1;
        @include media-query(md){
            margin-top: 60px;
        }
        .bg-effect{
            position: absolute;
            width: 1208px;
            height: 1208px;
            left: -80px;
            top: -408px;
            background: #F4F6FB;
            z-index: -1;
            border-radius: 50%;
            pointer-events: none;
            @include media-query(xl){
                left: -50px;
                top: -208px;
            }
            @include media-query(md){
                top: -48px;
            }
        }
    }
    .banner-form {
        background: $mt-white ;
        border-radius: 23px;
        padding: 92px 78px 117px;
        margin-right: -190px;
        position: relative;
        z-index: 9;
        @include media-query(xxl){
            margin-right: -115px;
            padding: 77px 63px 107px;
        }
        @include media-query(xl1){
            margin-right: -73px;
            padding: 63px 45px 97px
        }
        @include media-query(xl){
            margin-right: 0;
            padding: 60px 35px 97px;
        }
        @include media-query(md){
            max-width: 490px;
            margin: 0 auto;
        }
        @include media-query(xs){
            padding: 20px;
        }
        .input-group {
            border: 1px solid rgba(0, 0, 0, 0.58);
            border-radius: 8px;
            width: 100%;
            height: 80px;
            margin-bottom: 59px;
            flex-wrap: nowrap;
            padding: 10px; 
            @include media-query(lg){
                margin-bottom: 40px;
            }
            label{
                font-family: 'Nunito';
                font-style: normal;
                font-weight: 600;
                font-size: 18px;
                line-height: 160%; 
                text-transform: capitalize; 
                color: rgba(0, 0, 0, 0.51);
                position: absolute;
                left: 40px;
                background-color: #fff;
                top: -15px;
            }
            input{
                border: none;
                outline: none;
                box-shadow: none;
                width: 280px;
                @include media-query(xs){
                    width: 50%;
                }
            }
            select{
                border: none;
                font-family: 'Nunito';
                font-style: normal;
                font-weight: 600;
                font-size: 20px;
                line-height: 160%; 
                color: $mt-dark;
                outline: none;
                box-shadow: none;
                width: 150px;
                padding-left: 40px;
                background-image: url(../../images/flag.png);
                background-position: left center;
                background-size: 30px;
                background-repeat: no-repeat;
                @include media-query(xs){
                    width: 50%;
                }
            }
        }
        .mt-fees {
            p{ 
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 8px;
                    font-family: 'Nunito';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 20px;
                    line-height: 160%; 
                    text-align: right;
                    text-transform: capitalize; 
                    color: rgba(0, 0, 0, 0.69);
                    @include media-query(lg){
                        font-size: 17px;
                    }
                    @include media-query(xs){ 
                        font-size: 14px;
                    }
                    span{
                        &:first-child{
                            color: $mt-dark;
                        }
                    } 
        }
        &+a{
            padding: 17px 39px 18px;
            min-width: 182px;
            height: 64px;
            background: $mt-black;
            border: 1px solid $mt-black;
            border-radius: 7px;
            color: $mt-white ;
            font-family: 'Nunito', sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 160%;
            display: block;
            width: 180px;
            margin: 70px auto 0;
            transition: 0.3s ease-in-out;
            @include media-query(sm){ 
               padding: 12px 32px;
               font-size: 16px;
               height: auto;
               min-width: unset;
               text-align: center;
            }
            &:hover{
                background-color: $mt-blue;
                color: #fff;
                border-color: $mt-blue;
            }
        }
    }  
    .banner-img-1{
        position: absolute;
        left: -138px;
        top: 59px;
        @include media-query(xs){
            display: none;
        }
    }
    .banner-img-3{
        position: absolute;
        left: -53px;
        bottom: 133px;
        
        @include media-query(xs){
            display: none;
        }
    }
    .banner-img-2{
        position: absolute;
        right: -65px;
        bottom: 59px;
        @include media-query(xs){
            display: none;
        }
    }
}
}