@import "../../../variable.scss";
.navbar {
    position: absolute !important;
    left: 0;
    top: 61px;
    right: 0;
    padding: 0 !important;
    background-color: transparent !important;
    z-index: 9;
    @include media-query(lg){
        top: 30px;
    }
    .container{ 
        @include media-query(md){
            position: relative ;
        }
    }
    .navbar-collapse{
        width: auto;
        flex-grow: unset;
        @include media-query(md){
            position: absolute;
            top: 100%;
            left: 10px;
            right: 10px;
            background-color: rgb(255, 255, 255);
            padding: 14px 30px;
            box-shadow: 0px 0px 10px #ccc;
            border-radius: 8px;
        }
        .navbar-nav{
            gap: 50px;
            @include media-query(xl){
                gap: 30px;
            }
            @include media-query(lg){
                gap: 20px;
            }
            @include media-query(md){
                max-height: unset !important;
            }
                a{
                font-family: 'Nunito';
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                line-height: 160%; 
                text-transform: capitalize; 
                color: $mt-black;
                position: relative; 
                &::after{
                    content: "";
                    width: 0;
                    height: 3px;
                    background-image: linear-gradient(to right, $mt-yellow 50%,#5956E8 50%);
                    position: absolute;
                    left: 10px;
                    bottom: 4px;
                    transition: 0.3s ease-in-out;
                } 
                &:hover{
                    &::after{
                        width: 50%;
                    }
                }
            }
        }
    }
    .header-btn{
        display: flex;
        gap: 30px;
        @include media-query(sm){
            display: none;
        }
        button{
            &:first-child{
                font-family: 'Nunito';
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                line-height: 160%; 
                text-transform: capitalize; 
                color: $mt-black;
                background-color: transparent !important;
                &:hover{
                    color:$mt-blue;
                }
            }
            &:last-child{
                padding: 17px 39px 18px;
                min-width: 182px;
                height: 64px;
                background: $mt-black;
                border: 1px solid $mt-black;
                border-radius: 7px;
                color: $mt-white ;
                font-family: 'Nunito', sans-serif; 
                font-weight: 500;
                font-size: 18px;
                line-height: 160%;
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                line-height: 160%; 
                text-transform: capitalize; 
                color: $mt-white ;
                transition: 0.3s ease-in-out;
                &:hover{
                    background-color: $mt-blue;
                    border-color: $mt-blue;
                }
            }
        }
    }
}