.about-us-wrap {
    font-family: 'Noto Sans', sans-serif;

    .milestones {
        background-color: #292930;

        @media(max-width: 991px) {
            padding-top: 40px;
        }

        ul {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
            color: #fff;
            list-style: none;
            padding: 0;
            margin: 0;

            li {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                color: #D0D0D0;
                text-transform: uppercase;
                font-size: 15px;
                letter-spacing: 2px;

                @media(max-width: 991px) {
                    width: 50%;
                    margin-top: 40px;
                }

                @media(max-width: 767px) {
                    font-size: 12px;
                }

                @media(max-width: 767px) {
                    flex-direction: column;
                    text-align: center;
                }

                .m-counter {
                    font-size: 40px;
                    font-weight: 600;
                    margin-right: 15px;
                    font-family: "Nunito", sans-serif;
                    color: #fff;

                    @media(max-width: 1199px) {
                        font-size: 30px;
                    }

                    @media(max-width: 767px) {
                        font-size: 24px;
                    }

                    @media(max-width: 575px) {
                        margin-right: 0;
                        margin-bottom: 5px;
                    }
                }
            }
        }
    }

    .consumer-tags {
        display: flex;
        flex-wrap: wrap;
        margin: 35px 0;
        padding-top: 35px;
        border-top: 1px solid #CFCFCF;

        @media(max-width: 575px) {
            flex-direction: column;
        }

        .tag+.tag {
            margin-left: 20px;

            @media(max-width: 991px) {
                margin-left: 10px;
            }

            @media(max-width: 575px) {
                margin-left: 0;
                margin-top: 10px;
            }
        }
    }

    .core-values,
    .careers {
        background-color: #292930;

        .heading-with-icon {
            flex-direction: column;
            align-items: center;
            color: #fff;

            .h-w-i-icon {
                background-color: #F96A4B;
            }

            .h-w-i-text {
                text-align: center;
                margin-top: 30px;

                h6 {
                    color: #D0D0D0;
                }
            }
        }
    }

    .careers {
        background-color: #fff;

        .heading-with-icon {
            color: #292930;

            .h-w-i-icon {
                background-color: #CA87FF;
            }

            .h-w-i-text {
                h6 {
                    color: #292930;
                }
            }
        }
    }

    .swiper-core-values {
        margin-left: calc((100% - (1230px - 1.5rem)) / 2);
        margin-top: 50px;

        .c-v-container {
            background-image: linear-gradient(180deg, #36363E 0%, #292930 100%);
            border-radius: 30px;
            padding: 50px 30px 80px;
            text-align: center;
            color: #fff;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            align-items: center;
            border: 1px solid #424245;
            position: relative;

            @media(max-width: 575px) {
                padding: 30px 15px 50px;
            }

            .c-v-icon {
                background-color: #292930;
                border-radius: 100px;
                padding: 30px;
                margin-bottom: 50px;

                @media(max-width: 1199px) {
                    padding: 20px;
                }
            }

            .c-v-text {
                h3 {
                    font-size: 25px;
                    font-weight: 600;
                    margin-bottom: 15px;
                    font-family: "Nunito", sans-serif;
                }

                p {
                    font-size: 18px;
                    color: #D0D0D0;

                    @media(max-width: 1199px) {
                        font-size: 16px;
                    }
                }
            }

            &::after {
                content: "";
                position: absolute;
                left: 50%;
                top: auto;
                bottom: 50px;
                height: 2px;
                width: 80px;
                background-color: #fff;
                transform: translateX(-50%);
            }
        }
    }

    .team-wrap {
        margin-top: 50px;

        .team-container {
            padding: 25px;
            border: 1px solid #DCDCDC;
            border-radius: 30px;
            text-align: center;
            margin-bottom: var(--bs-gutter-x);

            @media(max-width: 1199px) {
                padding: 15px;
            }

            @media(max-width: 991px) {
                padding: 10px;
            }

            @media(max-width: 575px) {
                max-width: 300px;
                margin-left: auto;
                margin-right: auto;
            }

            .team-image {
                margin-bottom: 50px;
                position: relative;

                img {
                    border-top-left-radius: 30px;
                    border-top-right-radius: 30px;
                }

                &::after {
                    content: "";
                    position: absolute;
                    left: 50%;
                    top: auto;
                    bottom: -25px;
                    transform: translateX(-50%);
                    width: 80px;
                    height: 2px;
                    background-color: #5956E8;
                }
            }

            .team-text {
                h3 {
                    font-size: 25px;
                    font-weight: 700;
                    font-family: "Nunito", sans-serif;
                }

                h6 {
                    color: #555555;
                    font-weight: 400;
                }

                ul {
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    justify-content: center;
                    margin-top: 30px;

                    li+li {
                        margin-left: 10px;
                    }
                }
            }

            &:hover {
                background-image: linear-gradient(111.05deg, #E9F7FF 9.66%, #FFDBD5 57.52%, #FFF3CA 103.42%);
                border-color: #fff;
            }
        }
    }

    .visit-us {
        background-image: linear-gradient(111.05deg, #E9F7FF 9.66%, #FFDBD5 57.52%, #FFF3CA 103.42%);

        >.container {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
        }

        .heading-with-icon {
            max-width: 700px;

            @media(max-width: 991px) {
                max-width: 550px;
            }

            @media(max-width: 767px) {
                max-width: 350px;
            }

            @media(max-width: 575px) {
                max-width: 100%;
                margin-bottom: 15px;
            }

            .h-w-i-icon {
                background-color: #292930;
            }
        }

        .v-u-wrap {
            margin-top: 50px;
        }

        .v-u-container {
            background-color: #fff;
            padding: 50px 30px;
            border-radius: 30px;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            align-items: flex-start;
            box-shadow: 0px 2px 4px rgba(146, 146, 146, 0.25);
            margin-bottom: var(--bs-gutter-x);

            @media(max-width: 1199px) {
                padding: 30px 15px;
            }

            img {
                max-width: 80px;

                @media(max-width: 1199px) {
                    max-width: 60px;
                }

                @media(max-width: 991px) {
                    max-width: 40px;
                }
            }

            h3 {
                font-size: 25px;
                font-weight: 600;
                margin-top: 20px;
                font-family: "Nunito", sans-serif;

                @media(max-width: 991px) {
                    font-size: 22px;
                }
            }

            p {
                font-size: 20px;
                color: #555555;

                @media(max-width: 1199px) {
                    font-size: 16px;
                }
            }

            a {
                font-size: 20px;
                color: #555555;
                text-decoration: none;
                position: relative;
                padding-left: 30px;
                font-family: "Nunito", sans-serif;
                word-break: break-all;

                @media(max-width: 1199px) {
                    font-size: 16px;
                }

                @media(max-width: 991px) {
                    padding-left: 25px;
                }

                &:hover {
                    color: #292930;
                }

                svg {
                    position: absolute;
                    top: 5px;
                    left: 0;
                }
            }
        }
    }
}

// media queries
@media(max-width: 1399px) {
    .about-us-wrap .swiper-core-values {
        margin-left: calc((100% - (1140px - 1.5rem)) / 2);
    }

    .tag-not-clickable {
        font-size: 24px;
    }
}

@media(max-width: 1199px) {
    .about-us-wrap .swiper-core-values {
        margin-left: calc((100% - (960px - 1.5rem)) / 2);
    }

    .tag-not-clickable {
        font-size: 18px;

        img {
            max-width: 30px;
        }
    }
}

@media(max-width: 991px) {
    .about-us-wrap .swiper-core-values {
        margin-left: calc((100% - (720px - 1.5rem)) / 2);
    }

    .tag-not-clickable {
        font-size: 14px;
        padding: 8px 15px;

        img {
            max-width: 20px;
            margin-right: 10px;
        }
    }
}

@media(max-width: 767px) {
    .about-us-wrap .swiper-core-values {
        margin-left: calc((100% - (540px - 1.5rem)) / 2);
    }
}

@media(max-width: 575px) {
    .about-us-wrap .swiper-core-values {
        margin-left: 1.5rem;
    }

    .tag-not-clickable {
        justify-content: center;
    }
}