@import "../../../variable.scss";
footer{
    padding: 190px 0 100px 0;
    background-color: $mt-black;
    @include media-query(xl){
        padding: 130px 0 90px 0;
    }
    @include media-query(md){
        padding: 100px 0 50px 0;
    }
    .container{
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        gap: 100px;
        @include media-query(xl){
            gap: 50px;
        }
        .left-subscribe {
            background: #3C3C45;
            border-radius: 7px;
            width: 34%;
            padding: 49px 53px;
            @include media-query(lg){
                padding: 30px;
            }
            @include media-query(md){
                width: 100%;
            }
            .footer-logo{
                img{
                    height: 81px;
                    width: auto;
                    max-width: 100%;
                    margin-bottom: 13px;
                    display: block;
                }
            }
            figure{
                height: 228px;
                width: 100%;
                @include media-query(lg){
                    height: 200px;
                }
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: scale-down;
                    object-position: center;
                }
            }
            h4{
                font-family: 'Nunito';
                font-style: normal;
                font-weight: 600;
                font-size: 25px;
                line-height: 110.5%; 
                color: $mt-white ;
                margin: 0;
            }
            p{
                @include text-font;
                color: #D0D0D0;
                margin-bottom: 18px; 
            }
            input{
                background: #5B5B61;
                border-radius: 7px;
                padding: 16px 26px;
                font-family: 'Nunito';
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                line-height: 160%; 
                text-transform: capitalize; 
                color: $mt-white ;
                border: none;
                width: 100%;
                &::placeholder{
                    color: #fff;
                }
            }
            a{
                margin-top: 18px;
                background: $mt-yellow;
                border-radius: 7px;
                padding: 16px;
                width: 100%;
                font-family: 'Nunito';
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                line-height: 160%; 
                text-transform: capitalize; 
                color: $mt-black;
                display: inline-block;
                text-align: center;
                transition: 0.3s ease-in-out;
                &:hover{
                    background: $mt-blue;
                    color: #fff;
                }
            }
        }
        .footer-right{
            width: calc(66% - 100px);
            @include media-query(xl){
                width: calc(66% - 50px);
            }
            @include media-query(md){
                width: 100%;
            }
            h3{
                font-family: 'Nunito';
                font-style: normal;
                font-weight: 600;
                font-size: 25px;
                line-height: 110.5%; 
                color: $mt-white ;
                @include media-query(lg){
                    font-size: 22px;
                }
                img{
                    width: 22px;
                    height: 22px;
                    margin-right: 5px;
                }
            }
            .footer-top {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                gap: 100px;
                padding-bottom: 50px;
                border-bottom: 1px solid #727274;
                margin-bottom: 50px;
                @include media-query(lg){
                    gap: 50px;
                }
                .get-in-touch {
                    width: 41%; 
                    @include media-query(xs){
                        width: 100%;
                    }
                    h3{
                        margin-bottom: 17px;
                    }
                    a{
                        background: #3C3C45;
                        border-radius: 7px;
                        font-family: 'Nunito';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 25px;
                        line-height: 156.5%; 
                        color: $mt-yellow;
                        width: 100%;
                        text-align: center;
                        display: inline-block;
                        padding: 12px;
                        @include media-query(lg){
                            font-size: 20px;
                        }
                    }
                    p{
                        @include text-font;
                        color: $mt-white ;
                        margin: 17px 0 0 0; 
                    }
                }
                .mt-locations{
                    width: calc(59% - 100px);
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    @include media-query(lg){
                        width: calc(59% - 50px);
                        gap: 18px;
                    }
                    @include media-query(xs){
                        width: 100%;
                    }
                    h3{
                        margin: 0;
                    }
                    img{
                        width: 25px;
                        height: 25px;
                        object-fit: scale-down;
                    }
                    p,a{
                        @include text-font;
                        color: $mt-white ;
                        margin: 0; 
                    }
                }
            }
        }
        .footer-links{
            display: flex;
            justify-content: space-between;
            gap: 100px;
            padding-bottom: 50px;
            border-bottom: 1px solid #727274;
            margin-bottom: 17px;
            @include media-query(lg){
                gap: 40px;
            }
            @include media-query(xs){
                flex-direction: column;
            }
            h3{
                margin-bottom: 30px;
                @include media-query(lg){
                    margin-bottom: 20px;
                }
            }
            ul{
                padding: 0;
                margin: 0;
                list-style: none;
                li{
                    a{
                        @include text-font;
                        line-height: 211.5%; 
                        color: $mt-white ; 
                        &:hover{
                            color: #fff;
                            opacity: 0.8;
                        }
                    }
                }
            }
        }
        .copyright{
            p{
                @include text-font;
                text-decoration-line: underline; 
                color: $mt-white ;
                padding: 0 40px;
                margin: 0;  
                @include media-query(sm){
                    text-align: center;
                }
            }
        }
    }
}