.b-h-icon {
    width: 88px;
    height: 88px;
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: #93e1a4;
    border-radius: 100px;
}

.b-h-left {
    display: flex;
    flex-wrap: wrap;
}

.b-h-text {
    padding-left: 40px;
    font-family: 'Noto Sans', sans-serif;
    width: calc(100% - 88px);

    h6 {
        font-size: 15px;
        text-transform: uppercase;
        letter-spacing: 4px;
        font-family: 'Noto Sans', sans-serif;
    }

    h2 {
        font-size: 40px;
        font-weight: 600;
    }
}

.blogs-header {
    margin-top: 150px;
    margin-bottom: 60px;
}

.search-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;

    form {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;

        button {
            margin-left: 20px;
        }
    }

    input {
        width: 350px;
        height: 64px;
        border: 2px solid #292930;
        border-radius: 7px;
    }
}

.b-b-wrap {
    padding: 4vw;
    background-color: #FFF3CA;
    border-radius: 10px;
}

.b-b-text {
    padding-right: 3vw;

    h2 {
        font-weight: 600;
    }

    p {
        color: #555555;
        font-size: 18px;
        font-family: 'Noto Sans', sans-serif;
    }
}

.l-p-filter {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;

    .filter-buttons {
        display: flex;
        flex-wrap: wrap;

        li+li {
            margin-left: 15px;
        }
    }
}