body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #292930;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*  */
@media (min-width:1400px) {
  .container {
    max-width: 1230px !important;
  }
}


// 
// Button style // variant="primary" variant="light" variant="outline-primary" 
button {
  &.btn {
    border: 1px solid #292930;
    padding: 17px 39px 18px;
    min-width: 182px;
    height: 64px;
    border-radius: 7px;
    transition: 0.3s ease-in-out;
    color: #FFFFFF;
    font: 500 18px/160% 'Nunito', sans-serif;

    &.btn-primary {
      background: #292930;

      &:hover {
        background-color: #5956E8;
        color: #fff;
        border-color: #5956E8;
      }
    }
  }

  &.btn-outline-primary {
    background: #FFFFFF;
    color: #292930;

    &:hover {
      background-color: #292930;
      color: #fff;
      border-color: #292930;
    }
  }

  &.btn-light {
    background: #FFFFFF;
    border-color: #FFFFFF;
    color: #292930;

    &:hover {
      background-color: #fddc68;
      border-color: #fddc68;
    }
  }
}